
.user-div:hover
{
  background-color: rgb(250, 250, 250);
}

@media screen and (max-width: 767px) 
{
  .user-div
  {
    justify-content: center;
  }
}

.user-image
{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.messages-box
{
  height: 500px;
  overflow-y: scroll;

  scrollbar-width: none;

  &::-webkit-scrollbar
  {
    display: none;
  }
}

.message-input
{
  resize: none;

  scrollbar-width: none;

  &::-webkit-scrollbar
  {
    display: none;
  }

  &::placeholder
  {
    color: rgba(#000, 0.5);
  }
}

.info-text
{
  color: rgba(#000, 0.5);
  text-align: center;
  margin-bottom: 0.5rem;
}

.reaction-popover-button
{
  height: 30px;
}

.reaction-icon-button
{
  padding: 0 0.25rem;
  font-size: 1rem;
  transition: 0.25s;

  &:hover
  {
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.btn:focus
{
  box-shadow: none;
}

.reactions-div
{
  position: absolute;
  right: -10px;
  bottom: -25px;
  font-size: 0.9rem;
}

.message-div
{
  min-width: 50px;

  &p
  {
    max-width: 50px;
  }
}
